on: [push, pull_request]
name: Integration tests on production
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup GCloud
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      - name: Run integration tests on production
        run: go test
        env:
          JOB_TYPE: test
          SPANNER_TEST_PROJECT: ${{ secrets.GCP_PROJECT_ID }}
          SPANNER_TEST_INSTANCE: test-instance
