on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
name: Linting
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.x
      - name: Checkout code
        uses: actions/checkout@v4
      - name: vet
        run: go vet ./...
      - name: vet ./examples
        working-directory: ./examples
        run: go vet ./...
      - name: vet ./benchmarks
        working-directory: ./benchmarks
        run: go vet ./...
