name: Python Wrapper System Tests on Emulator

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  system-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    defaults:
      run:
        working-directory: spannerlib/wrappers/spannerlib-python/spannerlib-python

    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.x'

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Install Nox
      run: pip install nox

    - name: Run System Tests
      env:
        SPANNER_EMULATOR_HOST: localhost:9010
      shell: bash
      run: |
        docker run -d -p 9010:9010 -p 9020:9020 gcr.io/cloud-spanner-emulator/emulator
        sleep 10
        nox -s system-${{ matrix.python-version }}
