name: Build and Publish Python Wrapper

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: 
    inputs: 
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'

permissions:
  contents: read

jobs:
  build-spannerlib:
    uses: ./.github/workflows/build-spannerlib-artifacts.yml
