name: Build and Publish Python Wrapper

on:
  push:
    branches: [ "main" ]

  workflow_dispatch: 
    inputs: 
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
