on:
  pull_request:
    branches: [ main ]
name: Run Samples
jobs:
  samples:
    strategy:
      matrix:
        go-version: [1.21.x, 1.22.x, 1.23.x]
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run samples
        working-directory: ./examples
        run: go test -short
